<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>CPCB User 9 Dashboard</title>
  <link rel="stylesheet" href="{% static 'arp_app/css/chapter9.css' %}">
</head>
<body>
  <header class="main-header">
    <div class="image-container">
      <img src="https://as1.ftcdn.net/v2/jpg/07/29/34/34/1000_F_729343438_gqEk9CipKxy5FVnabVTCyr65qGqM4Fv1.jpg" alt="Emblem" />
      <img src="https://cpcb.nic.in/images/glpi.jpg" alt="GLPI Logo" />
    </div>
    <div class="header">
      <p>Central Pollution Control Board<br>
         Ministry of Environment, Forest and Climate Change<br>
         Government of India
      </p>
    </div>
  </header>
  <div class="heading">
    <div class="left-side">
      <a href="home1.html" class="home-btn">Home</a>
    </div>
   <div class="right-side">
    <a href="/login/" class="logout">Logout</a>
  </div>  </div>
  <div class="content">
    <div class="sidebar">
      <img src="https://www.shutterstock.com/image-vector/user-profile-3d-icon-avatar-600nw-2226554631.jpg" alt="User Avatar" class="avatar" />
      <h3>Dashboard</h3>
      <h3>Reports</h3>
      <h3>Settings</h3>
    </div>
    <div class="format">
      <h1>Chapter 9</h1>
      <p class="main_heading">Environmental Awareness and Public Participation</p>

      <form method="POST" action="">
        <p class="sub_heading">9.1 Events carried out for Environmental Awareness</p>

        <div class="textarea-group">
          <label>9.1.1 Exhibitions</label>
          <textarea name="exhibitions" placeholder="Enter details for Exhibitions"></textarea>
        </div>

        <div class="textarea-group">
          <label>9.1.2 World Environment Day Celebration</label>
          <textarea name="wed_celebration" placeholder="Enter details for World Environment Day Celebration"></textarea>
        </div>

        <p class="sub_heading">9.2 Redressal of Public Grievances through CPGRAM Portal</p>
        <div class="textarea-group">
          <textarea name="public_grievances" placeholder="Enter details for Redressal of Public Grievances"></textarea>
        </div>

        <div class="button-container">
          <button type="submit" class="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
  <footer class="footer">
    <p>&copy; 2025 CPCB. All rights reserved.</p>
  </footer>
  <script>
    function logout() {
      alert('You have been logged out.');
    }
  </script>
</body>
</html>