<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Homepage</title>
  <link rel="stylesheet" href="{% static 'arp_app/css/homepage.css' %}" />
</head>
<body>
<header class="main-header">
  <div class="image-container">
    <img src="https://w0.peakpx.com/wallpaper/1018/1009/HD-wallpaper-emlem-emblem-indian-king-ashoka-lion-proud-satyamev-jayate.jpg" alt="Emblem" />
    <img src="https://cpcb.nic.in/images/glpi.jpg" alt="GLPI Logo" />
    <img src="https://cpcb.nic.in/images/logo-name2.jpg" alt="Logo Name" />
  </div>
  <a href="/login/" class="login-btn" id="loginBtn">Login</a>
</header>
<div class="layout">
  <div class="container">
    <h3>Welcome users!</h3>
    <img src="" class="himage" alt="" />
  </div>
</div>
<footer class="footer">
  <p>© 2025 CPCB. All rights reserved.</p>
</footer>

</body>
</html>



